*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(233, 233, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}


.contenedor{
    max-width: 80vw;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap:20px;
    background-color: rgba(0, 1, 7, 0.89);
    border-top: 9px solid rgb(47, 58, 124);
    border-bottom: 2px solid rgb(47, 58, 124);

    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.8rem;
        color: white;
        margin: 10px;
    }
    
    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 1.2rem;
    }

   
}

.campo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;

    input, select{
        border-radius: 2px;
        border: 2px solid rgb(47, 58, 124);
        margin-bottom: 10px;
    }
}

button{
    background-color:rgb(47, 58, 124);
    color:white;
    border-radius: 2px;
    border: 2px solid rgb(24, 34, 92)
}